/* Minha Conta */

.woocommerce-MyAccount-content {
  padding-bottom: 8rem;
  border-bottom: 2px solid black;
}

.woocommerce-MyAccount-navigation {
  background-color: #000;
}
.woocommerce-MyAccount-navigation ul {
  display: flex;
  gap: 10px;
}

.woocommerce-MyAccount-navigation ul li a {
  color: white !important;
}

.woocommerce-MyAccount-navigation ul li a:hover {
  color: gray !important;
}

.woocommerce-form.woocommerce-form-login.login {
  max-width: 400px;
  margin: auto;
}

/*Seletor quantidades */

.product-action form{
  display: flex;
}

.stock.in-stock{
  margin: auto 0;
}

.quantity input{
  width: 10%;
  min-width: 70px;
  text-align: center;
  margin: 0 20px;
}

.single_add_to_cart_button{
  backface-visibility: hidden;
  background-color: #405cf5;
  border-radius: 6px;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Ubuntu,sans-serif;
  font-size: 100%;
  height: 44px;
  line-height: 1.15;
  outline: none;
  overflow: hidden;
  padding: 0 15px;
  position: relative;
  text-align: center;
  text-transform: none;
  transform: translateZ(0);
  transition: all .2s,box-shadow .08s ease-in;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
}

.button-9:disabled {
  cursor: default;
}

.button-9:focus {
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .2) 0 6px 15px 0, rgba(0, 0, 0, .1) 0 2px 2px 0, rgba(50, 151, 211, .3) 0 0 0 4px;
}